{% extends "base.html.j2" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="static/errorstyle.css">
    <title>Error</title>
{% endblock %}

{% block body %}
    <p>There was an issue with your color!</p>
{% endblock %}
